{
    "host": "https://public-node.testnet.rsk.co:443",
    "contract": "0x48c0d0cd5b4a53a9ec58ed91b22492ed3b421036",
    "account": {
        "address": "0x<your account address>",
        "privateKey": "0x<your account private key>"
    }
}
